<h1>Laziness Dashboard</h1>

<h3>Log a Binge Watching Session</h3>
<h4>Total binge time: <span id="binge_time"><%= @binges %></span> hours </h4>
<%= render 'binges/form' %>

<br>

<h3>Your Lazy Stats</h3>
<div id="shows">
  <%= render 'table' %>
</div>
